.rst-content blockquote {
  position: relative;

  border: .5em;
  border-left-style: solid;
  page-break-inside: avoid;

  margin: 1em auto;

  border-color: #52E052;
  background: #E9FBE9;
  overflow: auto;

  padding: .5em 2em;
}

.rst-content blockquote::before {
  text-transform: uppercase;
  display: block;
  color: hsl(120, 70%, 30%);

  content: 'Note';
  font-weight: bolder;
}

.rst-content blockquote p {
  font-size: 1em;
  margin-bottom: .5em;
}
